@keyframes slide-in-blurred-right {
  0% {
    transform: translateX(1000rem) scaleX(2.5) scaleY(0.2);
    transform-origin: 0 50%;
    opacity: 0;
  }
  100% {
    transform: translateX(0) scaleY(1) scaleX(1);
    transform-origin: 50% 50%;
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(2.5rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes translateScreen {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes text-focus-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scaleRuleItem {
  0% {
    transform: scale(0);
    color: transparent;
  }
  50% {
    color: $c-light;
  }
  100% {
    transform: scale(1);
  }
}


@keyframes rulesLink {
  0% {
    width: 0;
    color: transparent;
  }

  95% {
    color: $c-dark;
  }

  100% {
    width: 18rem;
  }
}


@keyframes visualItem {
  from {
    opacity: 0;
    transform: translateX(2rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes opacity {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}


@keyframes rotateToRight {
  from {
    opacity: 0;
    transform: translateX(-60rem) rotate(-135deg);
  }
  to {
    visibility: visible;
    transform: translateX(0) rotate(0);
  }
}

@keyframes rotateToLeft {
  from {
    opacity: 0;
    transform: translateX(60rem) rotate(135deg);
  }
  to {
    visibility: visible;
    transform: translateX(0) rotate(0);
  }
}

@keyframes slideToLeftJourneys {
  from {
    transform: translateX(40rem);
  }
  to {
    transform: translateX(0);
  }
}
